<<<<<<< Updated upstream
extends animation.pug
=======
doctype html
html
  include partials/html-head
  body
    header.header
      h1 Hydration Tracker
>>>>>>> Stashed changes

block content
  .content
    main
      .card-form
        h2 Register

        if error
          p.error-msg(style="color: red") #{error}

        form(action="/register" method="POST")
          label(for="username") Username:
          input#username(type="text" name="username" required placeholder="Choose a username" value=username)

          label(for="first") First Name:
          input#first(type="text" name="first" required placeholder="Enter your first name" value=first)

          label(for="last") Last Name:
          input#last(type="text" name="last" required placeholder="Enter your last name" value=last)

          label(for="email") Email:
          input#email(type="email" name="email" required placeholder="Enter your email" value=email)

          label(for="gender") Gender:
          select#gender(name="gender" required)
            option(value="" disabled selected=!gender) Select gender
            option(value="male" selected=(gender === 'male')) Male
            option(value="female" selected=(gender === 'female')) Female
            option(value="other" selected=(gender === 'other')) Other

          label(for="password") Password:
          input#password(type="password" name="password" required placeholder="Enter your password")

          label(for="repassword") Confirm Password:
          input#repassword(type="password" name="repassword" required placeholder="Re-enter your password")

          button(type="submit") Create Account

        .link-container
          a(href="/login") Already have an account? Login

<<<<<<< Updated upstream
=======
    include partials/footer
>>>>>>> Stashed changes
